/* Used for buttons */
.grid {
    display: table;
    border-spacing: 5px
  }
  .row {
    display: table-row
  }
  .cell {
    width: 50px;
    height: 50px;
    background: grey;
    display: table-cell;
  }
  .row div:last-child {
    background: red
  }

/* Used to segment the page into thirds */
  .container {
    width: 100%;
    height: 100vh;
  }
  
  .toppane {
    width: 100%;
    height: 100px;
    background-color: #4da6ff;
  }
  
  .leftpane {
    width: 33%;
    height: 100vh;
    background-color: rosybrown;
  }
  
  .middlepane {
    width: 33%;
    height: 100vh;
    background-color: royalblue;
  }
  
  .rightpane {
    width: 33%;
    height: 100vh;
    background-color: yellow;
  }
  
  body {
    margin: 0!important;
  }
  
  .d-flex {
    display: flex;
  }