<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dolphin Enrichment - Home</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="{{ url_for('main.index') }}">Dolphin Enrichment</a>
        </div>
        <div class="nav-links">
            <a href="{{ url_for('main.dashboard') }}">Check Pripheral Devices</a>
        </div>
    </nav>

    <!-- Main content -->
    <div class="container">
        <h1>Welcome to the Dolphin Enrichment System</h1>
        <p>Manage interactive devices, monitor button inputs, and test I2C communication.</p>
        <!--<a class="btn" href="{{ url_for('main.dashboard') }}">Go to Dashboard</a>-->
    </div>

</body>
</html>
